@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500&display=swap");
/* General */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f4beee;
}

/* Container */
.main {
  padding-top: 100px;
}
.bigDisplay,
.btnDisplay {
  margin: 0 auto;
  width: 450px;
  background-color: #fafafa;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px 8px 0 0;
}
#resultDisplay,
#inputDisplay {
  text-align: right;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 15px;
  height: 150px;
}
#inputDisplay {
  font-size: 30px;
}
#resultDisplay {
  font-size: 38px;
}
#resultDisplay,
#inputDisplay {
  margin-top: auto;
  width: 450px;
  border: none;
}
.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.purple {
  background-color: #a772cf;
  color: #fff;
}
.black {
  background-color: #08133f;
  color: #fff;
}
.buttons button {
  font-size: 40px;
  margin: 1.5px;
  padding: 25px;
  border: none;
}
.purple:hover {
  background-color: rgb(247, 120, 247);
}
.black:hover {
  background-color: rgb(247, 120, 247);
}
.purple:active {
  background-color: #a772cf;
}
.black:active {
  background-color: #08133f;
}
